@model List<ControleContatos.Models.ContatoModel>//Especifica a model que a página vai usar
@{
    ViewData["Title"] = "Lista Contatos";
}
<div class="d-grid grap-2 d-md-flex justify-content-md-start">
    <a class="btn btn-primary" asp-controller="Contato" asp-action="Criar">Adicionar novo contato</a>
</div>
<div class="text-center">
    <h1 class="display-4">Listagem de Contatos</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Email</th>
                <th scope="col">Celular</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>

            @if(Model!=null&&Model.Any()){
                foreach(var contato in Model){//Exibe a lista de contatos
                    <tr>
                        <th scope="row">1</th>
                        <td>@contato.Nome</td>
                        <td>@contato.Email</td>
                        <td>@contato.Celular</td>
                        <td>
                            <div class="btn-group" role="group">
                                <a roule="button" class="btn btn-primary" asp-controller="Contato"
                                    asp-action="Editar" asp-route-id="@contato.Id">Editar</a>
                                <a roule="button" class="btn btn-danger" asp-route-id="@contato.Id"  asp-controller="Contato"
                                    asp-action="ApagarConfirmacao">Deletar</a>
                            </div>
                        </td>
                    </tr>
                }
            }else{
                <tr class="add"><td valign="top" colspan="5">Nenhum contato encontrado</td></tr>
            }
           
        </tbody>
    </table>
</div>
