@model ControleContatos.Models.UsuarioSemSenhaModel
@using ControleContatos.Enums

@{
    ViewData["Title"] = "Editar Usuario";
}
<div class="text-center">
    <h1 class="display-4">Editar Usuario</h1> 
    
</div>
<form asp-controller="Usuario" asp-action="Alterar"  method="post">
  <input type="hidden" asp-for="Id">
  <div class="mb-3">
    <label asp-for="Nome" class="form-label">Nome</label>
    <input type="text" asp-for="Nome" class="form-control" aria-describedby="emailHelp" placeholder="Digite o nome do usuario">
    @Html.ValidationMessageFor(x=>x.Nome)
  </div>
  <div class="mb-3">
    <label asp-for="Email" class="form-label">Email</label>
    <input type="text" asp-for="Email" class="form-control" aria-describedby="emailHelp" placeholder="Digite o email do usuario">
    @Html.ValidationMessageFor(x=>x.Email)
  </div>
  <div class="mb-3">
    <label asp-for="Perfil" class="form-label">Perfil: </label>
    @* <input type="password" asp-for="Perfil" class="form-control" aria-describedby="emailHelp" placeholder="Digite a senha do usuario"> *@
   <select asp-for="Perfil" class="form-control">
      <option value="0">Selecione Perfil</option>
      <option value="@PerfilEnum.Padrao">Padrao</option>
      <option value="@PerfilEnum.Adm">Admim</option>
    </select>
    @Html.ValidationMessageFor(x=>x.Perfil)
  </div>
  <div class="mb-3">
    <label asp-for="Login" class="form-label">Login</label>
    <input type="text" asp-for="Login" class="form-control" aria-describedby="emailHelp" placeholder="Digite o login do usuario">
    @Html.ValidationMessageFor(x=>x.Login)
  </div>
 
  <div class="d-grid gap-2">
  <button class="btn btn-primary" type="submit">Salvar</button>
  <a class="btn btn-secondary" type="button" asp-controller="Usuario" asp-action="Index">Voltar</a>
</div>
</form>